.TickerItem {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  border: 1px solid #735f32;
  border-radius: 10px;
  justify-content: space-between;
  width: 600px;
  padding: 0 10px;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    border-color: #c69749;
    transform: scale(110%);
  }

  * {
    flex: 1;
    text-align: center;
    margin: 0 10px;
  }

  &__name {
    text-align: center;
  }

  &__logo {
    display: flex;
    height: 35px;
    width: 35px;
    object-fit: contain;
  }

  &__btn {
    cursor: pointer;
    padding: 5px 0;
    height: 30px;
    background: none;
    color: #c69749;
    text-align: center;
    border: 1px solid #735f32;
    border-radius: 10px;
    transition-duration: 0.3s;

    &:hover {
      border-color: #c69749;
      transform: scale(110%);
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;

    &.price-up {
      color: rgb(14, 201, 14);
    }

    &.price-down {
      color: red;
    }
  }

  &__date {
    font-size: 17px;
  }
}
